html, body {
    background-color: rgb(48, 47, 47);
    height: 95%;
}
h1 {
    text-align: center;
}
#seats {
    background-color: #ddd;
    height: 100%;
    background-color: rgb(13, 53, 13);
    border-radius: 20%;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    row-gap: 2em;
}
.pairs {
    display: grid;
    grid-template-columns: 25% 25%;
    column-gap: 50%;
    justify-content: space-between;
    width: auto;
}
.chair {
    border: black dashed 1px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40% 20% 40%;
}
.chair h2 {
    color: white;
    margin: 0;
}
.chair button {
    grid-column: 2;
    grid-row: 2;
    background-color: transparent;
    border: gray dashed 1px;
    color: gray;
}
#tableEnds {
    width: 40%;
    border-radius: 20%;
    margin: auto;
    text-align: center;
}
#mainContainer {
    height: 100%;
    background-color: rgb(1, 32, 1);
    border-radius: 20%;
    width: 95%;
    margin: auto;
}
